<!DOCTYPE html>
<html class="back_color">
<head>
  <title>Eigtmachinery</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%#= yield %>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">

<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">
<meta name="theme-color" content="#000000">

<div name="top" id="globalContainer">
  <div class="wabenMenuBox"><ul id="menu-waben-menu" class="waben_menu">
    <li id="menu-item-340" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-340">
      <a title="" href="#" class="menu-image-title-hide menu-image-not-hovered">
        <span class="menu-image-title">
          blog
        </span><img width="35" height="39" src="blog.png" class="menu-image menu-image-title-hide" alt="blog"></a></li>
    <li id="menu-item-342" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-342">
      <a title="" href="#" class="menu-image-title-hide menu-image-not-hovered">
        <span class="menu-image-title">Contact</span>
        <img width="35" height="39" src="mail.png" class="menu-image menu-image-title-hide" alt="mail"></a></li>
    <li id="menu-item-344" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-344">
      <a title="" href="#" class="menu-image-title-hide menu-image-not-hovered">
        <span class="menu-image-title">facebook</span>
        <img width="35" height="39" src="facebook2.png" class="menu-image menu-image-title-hide" alt="facebook"></a></li>
    <li id="menu-item-356" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-356">
      <a title="" href="#" class="menu-image-title-hide menu-image-not-hovered">
        <span class="menu-image-title">Publications</span>
        <img width="35" height="39" src="publications.png" class="menu-image menu-image-title-hide" alt="publications"></a></li>
    <li id="menu-item-360" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-360">
      <a title="" href="#" class="menu-image-title-hide menu-image-not-hovered">
    <span class="menu-image-title">
    Initiativbewerbung</span><img width="35" height="39" src="jobs.png" class="menu-image menu-image-title-hide" alt="jobs"></a></li></ul></div>

  <div id="contentBox">

    <div id="mainMenuBox">
      <div class="menu-main-menu-container"><ul id="menu-main-menu" class="primary_menu">
        <li id="menu-item-248" class="menu-item menu-item-type-post_type_archive menu-item-object-info-articles menu-item-248">
          <a href="#" class="menu-image-title-after"><span class="menu-image-title">
                Projects
                </span></a></li>
        <li id="menu-item-14" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14">
          <a href="#" class="menu-image-title-after">
            <span class="menu-image-title">Team</span></a></li>
        <li id="menu-item-13" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13">
          <a href="#" class="menu-image-title-after"><span class="menu-image-title">
                Contact
                </span></a></li>
      </ul>
      </div>
    </div>
    <!-- <div id="sideMenuBox">
        <div class="logo"><a href="./Home - Bespoke_files/Home - Bespoke.html" rel="home">

<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="71px" height="132px" viewBox="0 0 71 132" enable-background="new 0 0 71 132" xml:space="preserve">
        <g>
            <g>
                <polygon fill="black" points="17.709,70.706 0.021,80.918 0.021,41.484 17.709,51.696 		"></polygon>
                <polygon fill="black" points="17.709,50.283 0.021,40.07 0.021,20.352 34.784,0.281 34.784,41.128 26.552,45.883 26.552,30.564
                    17.709,35.67 		"></polygon>
                <polygon fill="black" points="26.552,76.519 34.784,81.272 34.784,101.696 0.634,81.979 18.323,71.767 		"></polygon>

                <g class="mittelding">

                    <polygon fill="black" points="43.629,55.741 36.01,60.139 35.398,60.494 34.784,60.139 27.165,55.741 34.784,51.341
                        35.397,50.989 36.01,51.343 		"></polygon>
                    <polygon fill="black" points="34.784,61.554 34.784,71.059 27.165,66.662 26.553,66.307 26.553,56.802 34.172,61.202 		"></polygon>
                    <polygon fill="black" points="44.241,56.802 44.241,66.307 43.629,66.662 36.01,71.058 36.01,61.554 36.622,61.202 		"></polygon>

                </g>

                <polygon fill="black" points="52.472,71.767 70.16,81.979 36.01,101.695 36.01,81.271 		"></polygon>
                <polygon fill="black" points="70.773,20.352 70.773,40.07 52.473,50.635 36.01,41.13 36.01,0.282 		"></polygon>
                <polygon fill="black" points="53.085,51.696 70.773,41.484 70.773,80.916 53.085,70.705 		"></polygon>
            </g>
            <g>
                <path fill="black" d="M0.021,120.562h3.411c1.577,0,2.7,0.953,2.7,2.515c0,1.039-0.498,1.792-1.264,2.175v0.029
                    c1.022,0.283,1.676,1.265,1.676,2.472c0,1.777-1.322,2.8-2.999,2.8H0.021V120.562z M3.433,124.896c1.009,0,1.69-0.711,1.69-1.747
                    c0-1.023-0.639-1.706-1.705-1.706H1.002v3.453H3.433z M3.56,129.671c1.208,0,1.961-0.752,1.961-1.947
                    c0-1.193-0.81-1.975-1.975-1.975H1.002v3.922H3.56z"></path>
                <path fill="black" d="M10.611,120.562h5.627v0.882h-4.647v3.638h3.795v0.881h-3.795v3.709h4.903v0.881h-5.883V120.562z"></path>
                <path fill="black" d="M20.801,128.689c0,0,1.037,1.096,2.614,1.096c1.094,0,1.99-0.654,1.99-1.734
                    c0-2.516-4.988-1.875-4.988-4.975c0-1.435,1.265-2.685,3.112-2.685c1.734,0,2.672,0.966,2.672,0.966l-0.484,0.824
                    c0,0-0.88-0.853-2.188-0.853c-1.279,0-2.104,0.839-2.104,1.719c0,2.374,4.988,1.691,4.988,4.975c0,1.491-1.151,2.7-3.027,2.7
                    c-2.046,0-3.169-1.278-3.169-1.278L20.801,128.689z"></path>
                <path fill="#1D1D1B" d="M30.646,120.562H34.1c1.791,0,3.083,1.165,3.083,3.013c0,1.862-1.292,3.056-3.083,3.056h-2.473v3.922
                    h-0.98V120.562z M33.972,125.749c1.336,0,2.202-0.811,2.202-2.175c0-1.351-0.865-2.131-2.188-2.131h-2.359v4.306H33.972z"></path>
                <path fill="#1D1D1B" d="M45.834,120.392c2.827,0,5.088,2.23,5.088,5.102c0,2.928-2.261,5.229-5.088,5.229
                    c-2.828,0-5.087-2.302-5.087-5.229C40.747,122.622,43.006,120.392,45.834,120.392z M45.834,129.813
                    c2.245,0,4.064-1.877,4.064-4.32c0-2.389-1.819-4.191-4.064-4.191c-2.26,0-4.065,1.803-4.065,4.191
                    C41.769,127.937,43.574,129.813,45.834,129.813z"></path>
                <path fill="#1D1D1B" d="M54.652,120.562h0.979v4.335h1.69l2.687-4.335h1.123l-2.985,4.719v0.028l3.184,5.243h-1.15l-2.857-4.775
                    h-1.69v4.775h-0.979V120.562z"></path>
                <path fill="#1D1D1B" d="M64.889,120.562h5.628v0.882h-4.646v3.638h3.793v0.881h-3.793v3.709h4.902v0.881h-5.885V120.562z"></path>
            </g>
        </g>
        </svg>
</a>

        </div>

                            <div id="arrowTop" style="opacity: 0;"><a href="http://bespoke.eu/#top"></a>
        </div>
    </div> -->
    <!-- .site-header -->
    <div id="mainContent">
      <ul id="articlePost">
        <li style="text-align:center;">
          <%= image_tag "logowhite.png", width: "" %>
        </li>
        <!--<li><h4 style="color: white;">-->
        <!--EHSAN INTERNATIONAL GENERAL-->
        <!--</b>TRADINGF ZCO-->
        <!--</h4>-->
        <!--</li>-->
        <br>
        <li style="margin-top: 37%">
          <!--<img width="370" height="131" src="./Home - Bespoke_files/cross.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="cross" srcset="http://bespoke.eu/wordpress/wp-content/uploads/cross-300x106.png 300w, http://bespoke.eu/wordpress/wp-content/uploads/cross.png 370w" sizes="(max-width: 370px) 100vw, 370px"></a></li>        </ul>&lt;!&ndash; #articlePost &ndash;&gt;-->
          <%= image_tag "hat.png" , width: "122%" %>
        </li>
      </ul>

    </div><!-- #mainContent -->

  </div> <!--#contentBox -->

  <div id="info_box">

    <ul>
      <li>
        <p>
          Dubai office tel: +971-4-8864554
        </p>
      </li>
      <li>
        <p>
          Dubai office fax: +971-4-8861663
        </p>
      </li>
      <li>
        <p>
          www.eightmachinery.com
        </p>
      </li>
      <li>
        <p>
          Email: eight@emirates.net.ae
        </p>
      </li>
    </ul>
  </div>



  <div class="footerBox">
    <p>© Copyright 2015 by EIGHTMACHINERY&nbsp;| </p>
    <div class="menu-footer-menu-container">
      <ul id="menu-footer-menu" class="menu">
        <li id="menu-item-262" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-262">
          <a href="#" class="menu-image-title-after">
            <span class="menu-image-title">about us</span></a>
        </li>
        <li id="menu-item-266" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-266">
          <a href="#" class="menu-image-title-hide menu-image-not-hovered">
            <span class="menu-image-title">Facebook</span>
            <img width="7" height="13" src="facebook1.png" class="menu-image menu-image-title-hide" alt="facebook"></a>
        </li>
        <li id="menu-item-265" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-265">
          <a href="#" class="menu-image-title-after">
            <span class="menu-image-title">info@eightmachinery.com</span></a>
        </li>
        <li id="menu-item-269" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-269">
        <a href="#" class="menu-image-title-after">
          <span class="menu-image-title"> tel: +971-4-8861554 </span>
        </a></li></ul>
    </div>
  </div>
</div>
</body>
</html>
